/*SD:0w31TeQ59w0w0*/
body{
	background: #291F16;
	font-family: Frutiger, ‘Frutiger Linotype’, Univers, Calibri, ‘Gill Sans’, ‘Gill Sans MT’, ‘Myriad Pro’, Myriad, ‘DejaVu Sans Condensed’, ‘Liberation Sans’, ‘Nimbus Sans L’, Tahoma, Geneva, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}
.logo{
	position:absolute;
	top:0px;
	height:50px;
	width:330px;
	margin:15px;
}
.body{
	margin-left:30px;
	margin-top:15px;
}

#readatom{
	position:absolute;
	top: 302px;
	left:75px;
	width:550px;
	padding:15px 15px 0px 15px;
	background: #555;
	vertical-align:text-top;
	-moz-box-shadow: 0 0 3px 3px #666;
	-webkit-box-shadow: 0 0 3px 3px #666;
	box-shadow: 0 0 3px 3px #666;
}
.readatom-header{
	position:absolute;
	top:275px;
	left:90px;
	height:27px;
	background: #444;
	font-size:18px;
	padding:2px 8px 0px 8px;
	color:#999;
	font-weight:bold;
}
.readatom1{
	background: #99AAD9;
	padding:10px;
	margin-bottom: 15px;
}

.readatom2{
	background: #A6ABBA;
	padding:10px;
	margin-bottom: 15px;
}

